.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#men-section {
  background-color: #f6f6f6; 
  padding: 80px 20px; /* Adjust padding as needed */
  text-align: center;
}

.men-content {
  max-width: 1200px;
  margin: 0 auto;
}

.men-content h2 {
  color: #000; /* Change to desired text color */
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.shoe-item {
  margin-bottom: 10px;
}

.shoe-item img {
  max-width: 100%;
}

.shoe-item h4 {
  margin: 10px 0;
  font-size: 1.8rem;
}

.shoe-item p {
  color: #777; /* Change to desired text color */
  margin-bottom: 10px;
}

.shoe-item button {
  border: none;
  outline: none;
  background-color: #f74f10;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shoe-item button:hover {
  background-color: #8a3313;
}




body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

nav{
  width: 100%;
  height: 10vh;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .logo img{
  margin-left: 20px;
  width: 100px;
  filter: drop-shadow(2px 2px 2px white);
}

.container .links a{
  color: white;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  margin: 0 20px;
  transition: 0.3s linear;
}

.links a::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  background-color: #f74f10;
  height: 3.5px;
  transition: 0.3s linear;
}

.links a:hover::before,
.links a:hover{
  color: #f74f10;
  width: 100%;
}

.container .search i{
  color: white;
  cursor: pointer;
  font-size: 1.8rem;
  margin-right: 80px;
}

/* Section Starts */

section{
  width: 100%;
  height: 90vh;
}

section .content{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.content .main-content{
  color: white;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.main-content h1{
  font-size: clamp(2rem, 1rem + 5vw, 4rem);
}

.main-content h2{
  color: #f74f10;
  font-size: clamp(2rem, 1rem + 5vw, 3.5rem);
}

.main-content p{
  margin-top: 10px;
  color: #635e5c;
}

.main-content .order{
  display: flex;
  margin: 20px 10px;
  width: 100%;
  justify-content: space-around;
  min-height: 7vh;
}

.order h3{
  font-size: 1.8rem;
  
}

.order button{
  min-width: 50%;
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #f74f10 40%, #8a3313) ;
  color: white;
  font-weight: 700;
  padding: 0 2px;
  font-size: clamp(0.6rem, 1rem 5vw, 3rem);
  transition: 0.1s linear;
}

.order button:hover{
  box-shadow:  0 0 30px #f74f10;
  background: linear-gradient(to bottom right, #8a3313 ,  #f74f10 40%) ;
}

.content .image img{
  max-width: 450px;
  width: 100%;
  margin-right: 100px;
  transform: rotate(40deg) translateX(900px);
  filter: drop-shadow(-10px -10px 200px #f74f10);
}

